@import "../../styles/variable.less";

.list {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  font-size: 1.1rem;
  li {
    padding: 1rem 0;
    a {
      color: currentColor;
      text-decoration: none;
      &:hover {
        color: @active-color;
      }
      margin-right: 1rem;
    }
    span {
      white-space: nowrap;
      background: @grey-bg;
      color: @icon-color-dark;
      font-size: 0.8rem;
      padding: 0 0.5rem;
      border-radius: 0.5rem;
    }
  }
}
