@import '../../styles/variable.less';

h1 {
  margin-bottom: 1.45rem;
  padding-bottom: 0.5rem;
  line-height: 1.1;
  text-align: center;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  pre {
    background: rgb(23, 24, 19);
  }
}

@media screen and (max-width: @screen-md-max) {
  .markdown-body {
    padding: 0;
  }
}
