@import '../../styles/variable.less';

.footer {
  margin: 1.45rem auto;
  color: @icon-color-dark;
  text-align: center;
  span {
    padding: 0 1rem;
  }
  .baseline {
    display: inline-block;
    width: 5rem;
    height: 1px;
    padding: 0;
    vertical-align: middle;
    background: @icon-color-dark;
  }
}
